# --- General ---
.env
TODO.md
tmp/
logs/
*.log
.vscode/

test.*

.DS_Store


# --- desktop ---
# python
__pycache__/
*.pyc
.pytest_cache/

# pyinstaller
build/
dist/

# viztracer
viztracer.json


# --- backend ---
node_modules/
npm-debug.log*
yarn-error.log
yarn-debug.log